/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #e4dfd1;
    color: #333;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}

/* --- Header / Hero Section --- */
.hero {
    position: relative;
    min-height: 100vh;
    background: url('sources/kenya.jpg') no-repeat center center/cover;
}

.side-text h2 {
    font-size: 3vw;
    margin-bottom:1vh;
}

.side-text p {
    font-size: 1.5vw;
    margin-bottom: 2vh;
}

.side-list {
    position: relative;
    left:38%;
    width: 30%;
}

.side-text ul {
    text-align: left;
}

.hero-overlay {
    position: relative;
    margin-top: 10%;
    left: 10%;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    width: 80%;
    min-height: 100vh;
}

.hero-text-container h1 {
    margin-bottom: 5vh;
}

.hero-text-container h2 {
    position:relative;
    left:0;
    text-align: left;
    margin-bottom: 2vh;
    font-size: 3vw;
}

.hero-text-container p {
    text-align: left;
    font-size: 2vw;
}

.hero-association {
    font-size: 4vw;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Top Navigation Bar */
.top-nav {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 2vh;
    z-index: 101;
    justify-content: flex-start;
    align-items: center; /* Center items vertically */
    padding: 15px 30px;
    padding-top:1%;
    padding-left:0;
    transition: background 0.3s;
}


/* --- Main Content --- */
#main {
    width: 100%;
    margin: 0;
    padding: 0;
    padding-top: 10vh;
    margin-bottom: -100vh;
    position: relative;
    top: -100vh;
    left: 0%;
    text-align: center;
    z-index: 100;
}

#main section:first-child {
    color: #ccc7bb;
}

.top-nav.scrolled {
    background: rgba(128, 128, 128, 0.7);
}



.nav-center .nav-menu div a.scrolled {
    color: #000;
}

.nav-left {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #171717;
    font-size: max(2vw, 100%);
    white-space: nowrap;
    transition: color 0.3s;
    margin: 1vw;
}

.nav-center {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align to the left */
    flex-grow: 1;
}

.nav-center .nav-menu {
    display: flex;
    align-items: flex-start;
    gap: 0.5vw;
}

.nav-center .nav-menu div a {
    text-decoration: none;
    color: #ccc7bb;
    font-size: max(1.8vw, 100%);
    transition: color 0.3s;
    white-space: nowrap;
}

.nav-center .nav-menu div {
    padding-left: max(1.5px, 1.5vw);
}

.nav-center .nav-menu div a:hover {
    color: #fff9e6;
}

.nav-menu li a:hover {
    color: #fff9e6;
}

/* Add Italiano and Donate buttons to the menu */
.nav-menu {
    list-style: none;
    display: flex;
    gap: 2vh;
}

.nav-menu-right {
    display: flex;
    align-items: center;
}

.donate-btn, .lang-link {
    font-weight: bold;
    padding: 0.5vh 0.8vh;
    transition: background 0.3s, transform 0.3s;
}

.donate-btn {
    text-decoration: none;
    background: #f5b024;
    border-radius: 5vh;
    font-size: 2.5vh;
    color: #000;
}

.donate-btn:hover {
    background: #f5d377;
    transform: scale(1.05);
}

#langBtn {
    text-decoration: underline;
    color: #2b2b2b;
    font-size: 2vh;
}

img {
    max-width: 60vw;
}

.fold-section {
    align-items: center;
    
}

.side-by-side {
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    width: 60%;
    margin-left:20%;
    height: 100%;
    margin-bottom: 15vh;
}

.side-image img {
    width: 100%;
    border-radius: 4px;
}

/* --- Footer --- */
footer {
    position:relative;
    bottom:0;
    text-align: center;
    padding: 20px;
    background: #000;
    color: #fff;
}

@media (max-width: 768px) {

    body {
        margin: 0;
        padding: 0;
    }

    .top-nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 16vh;
        height: 100vh;
        background: rgba(0, 0, 0, 0.9);
        flex-direction: column;
        align-items: flex-start;
        padding-top: 0.1vh;
        padding-left: 0;
        padding-right: 0;
        border-right: 1vh solid #000;
    }

    .side-list{
        width: 85%;
        left: 17%;
    }

    .side-text h2 {
        font-size: 5vw;
    }

    .side-text p {
        font-size: 3.5vw;
    }

    .top-nav.scrolled {
        background: rgba(0, 0, 0, 0.9);
    }

    .hero {
        left: 0;
        background-position-x: 75%;
        background-size: 200% 100%;
    }

    .hero-overlay {
        display: flex;
        margin-left: 0;
        margin-right: 0;
        left: 20vh;
        width: 80%;
    }

    .hero-text-container h1 {
        margin-bottom: 5vh;
        font-size: 6vw;
    }

    .hero-text-container h2 {
        text-align: justify;
        margin-bottom: 2vh;
        font-size: 5vw;
    }

    .hero-text-container p {
        text-align: justify;
        font-size: 4vw;
    }

    #main section:first-child {
        position: relative;
        align-items: center;
        min-height: 100vh;
    }

    .fold-section {
        position: relative;
        left: 17vh;
        align-items: flex-end;
        gap: 20px;
        flex-wrap: wrap;
        width: 70%;
        margin-bottom: 15vh;
    }

    .side-by-side {
        width: 68%;
        margin-left: 0;
    }

    .top-nav .nav-left {
        z-index: 101;
        padding-top: 2vh;
        padding-bottom: 10vh;
    }

    .top-nav .nav-left span {
        color: #fff;
        font-size: 1.8vh;
    }

    .nav-center .nav-menu div {
        padding-left: 0.1vh;
    }

    .nav-menu {
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center; /* Ensure normal menu items stay at the top */
        padding-bottom: 2vh;
        row-gap: 0;
        column-gap: 0vh;
        width: 100%;
    }

    .nav-center, .nav-menu-right {
        display: flex;
        align-items: center;
        justify-content: center; /* Align to the left */
        width: 100%;
    }

    .nav-menu {
        display: flex;
        align-items: center;
    }

    .nav-center .nav-menu div a {
        width: 100%;
        text-decoration: none;
        color: #ccc7bb;
        font-size: max(2vh, 100%);
        transition: color 0.3s;
        white-space: nowrap;
        text-align: center;
    }

    .nav-center .nav-menu div a.scrolled {
        color: #ccc7bb;
    }

    .nav-menu div {
        width: 100%;
        display: flex;
        align-items: center;
        text-align: center;
        padding-left: 0.2vh;
        margin-bottom: 8vh;
    }

    .nav-center .nav-menu {
        width: 90%;
    }

    .nav-center .nav-menu div {
        border-radius: 1vh;
        background: #272727;
    }

    .nav-menu-right .nav-menu div {
        margin-bottom: 2vh;
    }

    /* Ensure Donate & Italiano buttons are properly styled */
    .lang-link, .donate-btn {
        text-align: center;
        width: 80%;
        margin: 0;
        padding-left: 10%;
        display: block;
    }

    #langBtn {
        color: #707070;
    }

    .donate-btn {
        background: #FFC107;
        border-radius: 2.5vh;
        color: #000;
    }

    .donate-btn:hover {
        background: #e0a800;
        transform: scale(1.05);
    }

    footer {
        text-align: right;
    }
}